{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> {% endcomment %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>

        {% block title %}
        
        {% endblock title %}
    </title>
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-4">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">P.M.S</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/medicines">Medicines</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/products">Products</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/orders">Order</a>
              </li>

             
              
              <li class="nav-item">
                <a class="nav-link active" href="contact">Contact</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" href="about">About</a>
              </li>


  {% if request.user.is_authenticated %}

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="signup" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
     Welcome {{user.email}}
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

      <li><a class="dropdown-item" href="logout">Logout</a></li>
    </ul>
  </li>

  {% else %}

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="signup" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  New User?
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="signup">Sign Up</a></li>
                  <li><a class="dropdown-item" href="login">Login</a></li>
                </ul>
              </li>

              {% endif %}

             
            </ul>
            <form action="/search" method="get" class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="getdata" required>
              <button class="btn btn-outline-success" type="submit" >Search</button>
            </form>
          </div>
        </div>
      </nav>

  

      {% block body %}
      
      
      
      
      {% endblock body %}

<br><br>

      <div class="container py-5 bg-light">
        <div class="row">
          <div class="col-lg-3 mb-3">
            <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/" aria-label="Bootstrap">
             
              <span class="fs-5">PHARMACY MANAGEMENT SYSTEM</span>
            </a>
            <ul class="list-unstyled small text-muted">
              <li class="mb-2">Designed and built by Anurag.</li>
            
            </ul>
          </div>
         
        
    <script src="static/js/bootstrap.js"></script>
  </body>
</html>